.section-heading {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}

#section-details {
    background-color: #F5F5F5;
    padding-top: 2rem;
    margin-bottom: 2rem;
  
    .item-detail {
      margin-bottom: 1.5rem;
      text-align: center;
  
      .icon {
        margin-bottom: 0.5rem;
      }
  
    }
  
  }
  