.pat-autotoc.autotabs .autotoc-nav {
    margin-bottom: 1em !important;
}

label.required:after {
    content: '•';
    color: $danger;
    margin-left: 3px;
}

.portaltype-collection {
    #form-widgets-ICollection-sort_on,
    #form-widgets-ICollection-sort_reversed {
        display: none;
    }
}
