// Header Styling

#portal-header {

  height: 78px;

  .navbar {
    padding: 1rem 0;

    .navbar-brand {
      padding: 0;

      img {
        width: auto;
        height: 46px;
      }

    }
  }
}