# Defaults

.*.cfg
.coverage
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.log
*.map
*.mo
*.py?
*.pyc
*.pyo
*.swp
*.tmp*

# Dirs

bin/
build/
buildout-cache/
develop-eggs/
dist/
downloads/
eggs/
fake-eggs/
htmlcov/
include/
lib/
local/
parts/
src/collective.sidebar/
test.plone_addon/
var/
share/
src/collective.sidebar/
.idea/
.vscode/

# Files

.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
package-lock.json
report.html

# Excludes

!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml

# Node & Grunt

Gruntfile.js
node_modules/
package.json
temp_resources
