# Defaults

.*.cfg
.coverage
*.egg
*.egg-info
*.log
*.map
*.mo
*.py?
*.pyc
*.pyo
*.swp
*.tmp*

# Dirs

bin/
build/
buildout-cache/
develop-eggs/
dist/
downloads/
eggs/
fake-eggs/
htmlcov/
include/
lib/
local/
parts/
src/*
var/
venv/
share/
.idea/
.vscode/

# Files

.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
.python-version

# Excludes

!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/plonetheme

# Node & Grunt

Gruntfile.js
node_modules/
src/plonetheme/tokyo/theme/node_modules/
temp_resources
