[buildout]
extends =
    https://dist.plone.org/release/5.2.2/versions.cfg
    versions.cfg

deprecation-warnings = off
extensions = mr.developer
index = https://pypi.python.org/simple/
languages = de
prefer-final = true
show-picked-versions = false

parts =
    code-analysis
    coverage
    createcoverage
    i18ndude
    instance
    mrbob
    omelette
    plone-helper-scripts
    releaser
    robot
    test
    test-coverage

develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars = zope_i18n_compile_mo_files true
eggs =
    collective.sidebar
    Pillow
    Plone
    plone.staticresources
    plonetheme.tokyo [test]


[mrbob]
recipe = zc.recipe.egg
eggs =
    mr.bob
    bobtemplates.plone


[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/plonetheme
multiprocessing = True

chameleon-lint = False
xmllint = True

# Integration
return-status-codes = True
find-untranslated = False
i18ndude-bin = ${buildout:bin-directory}/i18ndude

# Flake8
flake8 = True
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg,*.cpy,*.vpy,overrides,omelette

# Flake8 - Plugins
# https://github.com/plone/plone.recipe.codeanalysis#recommended-extra
flake8-extensions =
    flake8-coding
    flake8-debugger
    flake8-isort
    flake8-plone-api
    flake8-quotes
    flake8-string-format

flake8-max-complexity = 15

# Git Commit
pre-commit-hook = True
pre-commit-hook-return-status-codes = True

# Git Push
pre-push-hook = False
pre-push-hook-return-status-codes = False


[coverage]
recipe = zc.recipe.egg
eggs = coverage


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
initialization =
    os.environ['TZ'] = 'UTC'
defaults = ['-s', 'plonetheme.tokyo', '--auto-color', '--auto-progress']


[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
output = ${buildout:directory}/bin/test-coverage
mode = 755


[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[debug,reload]
scripts =
    robot-server
    robot


[releaser]
recipe = zc.recipe.egg
eggs =
    zest.releaser
    zest.pocompile


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[plone-helper-scripts]
recipe = zc.recipe.egg
eggs =
   Products.CMFPlone
   ${instance:eggs}
interpreter = zopepy
scripts =
   zopepy
   plone-compile-resources

