[versions]

setuptools = 41.0.1
zc.buildout = 2.13.2

collective.sidebar = 1.0.0b1

# Flake 8
flake8-blind-except = 0.1.1
flake8-coding = 1.3.0
flake8-debugger = 1.4.0
flake8-deprecated = 1.1
flake8-isort = 2.1.3
flake8-pep3101 = 1.0
flake8-plone-api = 1.2
flake8-plone-hasattr = 0.1
flake8-polyfill = 1.0.1
flake8-print = 2.0.2
flake8-quotes = 0.9.0
flake8-string-format = 0.2.3
flake8-todo = 0.7
pycodestyle = 2.5.0

# Works with Firefox 55 & Firefox 52
plone.app.robotframework = 1.3.0
prompt-toolkit = 1.0.15
robotframework = 3.0.4
robotframework-debuglibrary = 1.0.1
robotframework-ride = 1.5.2.1
robotframework-selenium2library = 1.8.0
robotframework-selenium2screenshots = 0.7.2
robotsuite = 2.0.0
selenium = 3.14.1
wcwidth = 0.1.7

# Picked versions:
PyYAML = 5.1.1
argh = 0.26.2
bobtemplates.plone = 4.1.0
createcoverage = 1.5
entrypoints = 0.3
fancycompleter = 0.8
flake8 = 3.7.8
flake8-commas = 2.0.0
mccabe = 0.6.1
mr.bob = 0.1.2
pathtools = 0.1.2
pdbpp = 0.10.0
plone.recipe.codeanalysis = 3.0.1
pyflakes = 2.1.1
pyrepl = 0.9.0
regex = 2019.6.8
watchdog = 0.9.0
zest.pocompile = 1.4

# Required by:
# bobtemplates.plone==4.1.0
case-conversion = 2.1.0

# Required by:
# plone.recipe.codeanalysis==3.0.1
check-manifest = 0.39

# Required by:
# flake8==3.7.8
configparser = 3.7.4

# Required by:
# flake8-isort==2.1.3
isort = 4.3.21

# Required by:
# flake8-isort==2.1.3
testfixtures = 6.10.0

# Required by:
# pdbpp==0.10.0
wmctrl = 0.3
