/* Screen Sizes */
@screen-xxxs-max: 319px;
@screen-xxs-min: 320px;
@screen-xxs-max: 479px;
@screen-xs-min: 480px;
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

/* Defaults */
@import 'fonts.less';

/* Views */
@import 'tokyo/listing_news.less';

/* Portal Overrides */
@import 'tokyo/portal_header.less';
@import 'tokyo/portal_footer.less';
@import 'tokyo/portal_controlpanel.less';
@import 'tokyo/portal_messages.less';

/* Plone Overrides */
@import 'tokyo/plone_login.less';
@import 'tokyo/plone_errors.less';
@import 'tokyo/plone_controlpanel.less';
@import 'tokyo/plone_widgets.less';

/* Bootstrap */
@import 'tokyo/bootstrap_elements.less';

/* Tokyo Colors */
@tokyo-slate: #1C2331;
@tokyo-black: #19202A;
@tokyo-blue: #007BFF;
@tokyo-yellow: #FFC107;
@tokyo-red: #F44336;
@tokyo-white: #F9F9F9;
@tokyo-grey: #CCCCCC;

/* Variables */
@tokyo-sm-shadow: 0 2px 4px rgba(3,27,78,0.06);
@tokyo-lg-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);

/* Plone Colors */
@plone-blue: #007BB1;

/* Vendor */
.vendor(@property, @value) {
     -moz-@{property}: @value;
      -ms-@{property}: @value;
       -o-@{property}: @value;
  -webkit-@{property}: @value;
          @{property}: @value;
}

/* Main-Styling */
html {
  background-color: @tokyo-black;

  body {
    background-color: inherit;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    #content {
      background-color: white;

      .content-inner {
        padding: 120px 0;

        a {
          text-decoration: none !important;
        }

        .documentFirstHeading {
          border-bottom: none;
          padding: 0;
        }

        .documentDescription {
          margin-bottom: 20px;
        }
      }
    }
  }
}
